mixin header()
    header.header 
        .header__nav.container
            a(href="#!").header__logo LOGO
            button.header__button 
                span.header__button-line
            .header__menu 
                ul.header__list
                    li.header__li 
                        a(href="#intro").header__link Вверх 
                    li.header__li 
                        a(href="#products").header__link Продукты
                    li.header__li 
                        a(href="#articles").header__link Статьи